.blog-page-first {
  margin-bottom: 4rem;
  text-align: center;
  max-width: 640px;
}

.blog-page-first h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: rgb(17, 24, 39);
  letter-spacing: -0.025em;
  font-weight: 800;
  margin-bottom: 1rem;
}

.blog-page-first p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgb(107, 114, 128);
  font-weight: 300;
}
