.navbar-container {
  font-family: var(--font-family);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-container .left-content {
  display: flex;
  justify-content: end;
}

.navbar {
  background-color: rgb(255, 255, 255);
  padding: 10px !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(1 175 244);
  color: #fff;
}

.top-row p {
  margin: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.navbar {
  padding: 1rem 0;
  box-shadow: none;
}

.navbar-brand img {
  height: 50px;
}

.navbar-toggler {
  border: none;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-nav .nav-item {
  margin: 0 5px;
}

.navbar-nav .nav-link {
  color: rgb(107, 114, 128);
  background-color: #fff;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: rgb(1 175 244);
}

.buttons-container {
  display: flex;
  align-items: center;
}

.buttons-container .login-btn,
.buttons-container .signup-btn {
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
}

.buttons-container .login-btn {
  margin-right: 20px;
}

.buttons-container .login-btn .icon,
.buttons-container .signup-btn .icon {
  margin-right: 8px;
}

.arrow-icon {
  padding-left: 5px;
  font-size: 25px;
}

.buttons-container .login-btn {
  background-color: #fff;
  border: 1px solid rgb(107, 114, 128);
  color: rgb(107, 114, 128);
  background-color: #fff;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.buttons-container .signup-btn {
  background-color: rgb(1 175 244);
  border-color: rgb(1 175 244);
  color: #fff;
  transition: transform 0.3s ease-in-out;
}

.buttons-container .login-btn:hover,
.buttons-container .signup-btn:hover {
  transform: scale(1.1);
}

.buttons-container .signup-btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
