.navbar-container {
  font-family: var(--font-family);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 5px 10px var(--color-overlay);
}

.navbar-toggler {
  border: none !important;
}

.navbar-container .left-content {
  display: flex;
  justify-content: end;
}

.navbar {
  background-color: var(--color-background);
  padding: 10px !important;
  box-shadow: 0px 5px 10px var(--color-overlay);
}

.navbar-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.top-row p {
  margin: var(--margin-right-5px);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: var(--font-weight-semibold);
}

.navbar {
  padding: var(--spacing-medium) 0;
  box-shadow: none;
}

.navbar-brand img {
  height: 50px;
}

.navbar-toggler {
  border: none;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-nav .nav-item {
  margin: 0 var(--margin-right-5px);
}

.navbar-nav .nav-link {
  color: var(--color-text-secondary);
  background-color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: var(--color-primary);
}

.buttons-container {
  display: flex;
  align-items: center;
}

.buttons-container .login-btn,
.buttons-container .signup-btn {
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
}

.buttons-container .login-btn {
  margin-right: var(--margin-right-20px);
}

.buttons-container .login-btn .icon,
.buttons-container .signup-btn .icon {
  margin-right: var(--margin-right-8px);
}

.arrow-icon {
  padding-left: var(--spacing-small);
  font-size: var(--font-size-20px);
}

.buttons-container .login-btn {
  background-color: var(--color-white);
  border: 1px solid var(--color-text-secondary);
  color: var(--color-text-secondary);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.buttons-container .signup-btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
  transition: transform 0.3s ease-in-out;
}

.buttons-container .login-btn:hover,
.buttons-container .signup-btn:hover {
  transform: scale(1.1);
}

.buttons-container .signup-btn:hover {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

/* Mobile devices with a screen width 767px*/

@media only screen and (max-width: 767px) {
  .top-row .right-content,
  .top-row .left-content {
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .navbar-nav {
    width: 100%;
    align-items: center;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  .buttons-container .login-btn,
  .buttons-container .signup-btn {
    width: 100%;
    margin: 10px 0;
  }

  .buttons-container .login-btn,
  .buttons-container .signup-btn {
    justify-content: center;
    padding: 10px;
    font-weight: var(--font-weight-semibold);
  }

  .buttons-container .login-btn {
    background-color: var(--color-white);
    border-color: var(--color-primary);
    color: var(--color-primary);
    transition: transform 0.3s ease-in-out;
  }
}

/* Tablet devices with a screen width between 768px and 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-nav {
    width: 100%;
    align-items: center;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  .buttons-container .login-btn,
  .buttons-container .signup-btn {
    width: 60%;
    margin: 10px 0;
  }

  .buttons-container .login-btn,
  .buttons-container .signup-btn {
    justify-content: center;
    padding: 10px;
    font-weight: var(--font-weight-semibold);
  }

  .buttons-container .login-btn {
    background-color: var(--color-white);
    border-color: var(--color-primary);
    color: var(--color-primary);
    transition: transform 0.3s ease-in-out;
  }
}

@media (min-width: 769px) {
  .close {
    display: none;
  }
}
